.container{
    width: 1140px;
    margin: 0 auto;
}

.tabs img{
    width: 320px;
    height: 300px;
}

label{
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
    margin: 0 10px;
}

#toyota:checked ~ .mercedes,
#toyota:checked ~ .bmw {
    /*display: none;*/
    opacity: 0.2;
    transform: scale(0.3);
    transition: .4s;

}

#mercedes:checked ~ .toyota,
#mercedes:checked ~ .bmw{
    opacity: 0.2;
    transform: scale(0.3);
    transition: .4s;
}

#bmw:checked ~ .toyota,
#bmw:checked ~ .mercedes{
    opacity: 0.2;
    transform: scale(0.3);
    transition: .4s;
}

.tabs input{
    display: none;
}

